.nav {
  > li {
    > a {
      color: $font-color;
      border-bottom: 4px solid transparent; 
      @include transition(0.25s);
      &:focus,
      &:hover {
        background-color: transparent;
        border-bottom: 4px solid $font-color; 
      }
    }
  }
}

.navbar {
  margin-bottom: 0;
  background-color: $theme-color;
  border-radius: 0;
}
