
// font
$font-family:       'Roboto', sans-serif !default;
$font-family-bold:  'Roboto-bold', sans-serif !default;

// colors
$bg-color:          #ddd;
$theme-color:       #FDEEC7;
$font-color:        #AE8370;
