
// font
$font-family:       'Roboto', sans-serif !default;
$font-family-bold:  'Roboto-bold', sans-serif !default;
$font-base-size:    16px;

// colors
$bg-color:          #F2D43F;
$light-bg-color:    #CEECEF;
$lightest-bg-color: #E7EDEA;
$theme-color:       #FB0C06;
$font-color:        #030D4F;
$btn-color:         #030D4F;
